<div class="section section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="sigma_about style-9 w-100 h-100">
                    <div class="sigma_about-image-1 has-no-content">
                        <img src="assets/img/home-2/635x450.jpg" alt="img">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="sigma_about style-9 mt-5 mt-lg-0">
                    <div class="section-title">
                        <h3 class="title mb-5" style="line-height: 1.2;">Chúng tôi cung cấp dịch vụ thiết yếu cho sức khỏe của bạn</h3>
                    </div>
                    <div class="sigma_about-content">
                        <div class="row">
                            <!-- Data -->
                            <div class="col-md-6" *ngFor="let item of whyus | slice:0:2">
                                <div class="sigma_info style-15" [style.margin-bottom.px]="30">
                                    <div class="sigma_info-description">
                                        <h5>
                                            <a href="#">{{item.title}}</a>
                                        </h5>
                                        <p>{{item.text}}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Data -->
                        </div>
                        <a routerLink="/contact" class="sigma_btn">
                            Liên hệ để được tư vấn
                            <i class="fal fa-arrow-right ml-3"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
