<div class="sidebar-style-9">
    <div class="section">
        <div *ngIf="success === 1" class="container">
            <form [formGroup]="appointmentForm" >
                <div class="row">
                    <div class="col-lg-8">
                        <div class="sigma_form style-7">
                            <div class="form-block">
                                <h4>Thông tin cá nhân:</h4>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <i class="fal fa-user"></i>
                                            <input style="font-size: 16px" class="form-control" type="text"  formControlName="name" [(ngModel)]="name" placeholder="Họ và tên" aria-label="default input example">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <i class="fal fa-at"></i>
                                            <input style="font-size: 16px" type="email" [(ngModel)]="email" formControlName="email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group"  >
                                          <input style="font-size: 16px" placeholder="Ngày sinh"  [(ngModel)]="dob" formControlName="dob"   onfocus="(this.type='date')" onblur="(this.type='date')"  type="text"  />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <i class="fal fa-phone"></i>
                                            <input style="font-size: 16px"   formControlName="phone" [(ngModel)]="sdt" type="text" placeholder="Số điện thoại">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-block d-flex">
                                <h4 class="mb-0 mr-4">Giới tính:</h4>
                                <div class="d-flex align-items-center" style="font-size: 16px">
                                    <input type="radio" id="radio"  formControlName="gender"  value="Male">
                                    <label class="mb-0" for="radio" style="font-size: 16px">Nam</label>
                                </div>
                                <div class="d-flex align-items-center ml-4">
                                    <input type="radio" id="radio2"  value="Female">
                                    <label class="mb-0" for="radio2" style="font-size: 16px">Nữ</label>
                                </div>
                            </div>
                            <div class="form-block">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                          <select class="form-group"   [(ngModel)]="dichVu" [ngModelOptions]="{standalone: true}"   style="font-size: 16px">
                                            <option selected disabled>Chọn dịch vụ</option>
                                            <option *ngFor="let a of items"   [ngValue]="a">{{a.name}}</option>
                                          </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                          <select class="form-group"  [(ngModel)]="nhaSi" [ngModelOptions]="{standalone: true}" style="font-size: 16px">
                                            <option selected disabled>Chọn nha sĩ</option>
                                            <option *ngFor="let a of items"   [ngValue]="a">{{a.name}}</option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                                <input id="startDate" style="font-size: 16px"  formControlName="date"  [(ngModel)]="dateBooking" placeholder="Ngày hẹn" onfocus="(this.type='date')" onblur="(this.type='text')"  type="text"     />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                          <select class="form-group"  formControlName="time"  [(ngModel)]="timeBooking" style="font-size: 16px">
                                                <option selected disabled>Chọn thời gian</option>
                                                <option *ngFor="let a of times" [ngValue]="a">{{a.name}}</option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea  formControlName="des" [(ngModel)]="note" style="font-size: 16px"  rows="7"
                                                placeholder="Ghi chú"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="sidebar style-10 mt-5 mt-lg-0">
                            <!-- Booking Widget -->
                            <div class="widget widget-booking">
                                <h5 class="widget-title">Booking Summary</h5>
                                <ul>
                                    <li class="d-flex align-items-center justify-content-between">
                                        <span>Họ tên</span>
                                        <span>{{name ? name : '-----------------'}}</span>
                                    </li>
                                    <li class="d-flex align-items-center justify-content-between">
                                        <span>Email</span>
                                        <span>{{email ? email : '-----------------'}}</span>
                                    </li>
                                    <li class="d-flex align-items-center justify-content-between">
                                        <span>Ngày sinh</span>
                                        <span>{{dob ? (dob | date:'dd/MM/YYYY') : '-----------------'}}</span>
                                    </li>
                                  <li class="d-flex align-items-center justify-content-between">
                                    <span>SĐT</span>
                                    <span>{{sdt ? sdt :'-----------------'}}</span>
                                  </li>

                                </ul>
                                <hr>
                                <ul>
                                    <li class="d-flex align-items-center justify-content-between">
                                        <span>Nha sĩ</span>
                                      <span>{{nhaSi ? nhaSi.name  : '-----------------'}}</span>
                                    </li>
                                    <li class="d-flex align-items-center justify-content-between">
                                        <span>Dịch vụ</span>
                                      <span>{{dichVu ? dichVu.name  : '-----------------'}}</span>
                                    </li>
                                  <li class="d-flex align-items-center justify-content-between">
                                    <span>Ngày</span>
                                    <span>{{dob ? (dob | date:'dd/MM/YYYY') : '-----------------'}}</span>
                                  </li>
                                  <li class="d-flex align-items-center justify-content-between">
                                    <span>Giờ</span>
                                    <span>{{timeBooking ? timeBooking.name  : '-----------------'}}</span>
                                  </li>
                                  <li class="d-flex align-items-center justify-content-between" style="width: 100%">
                                    <span style="width: 50%">Ghi chú</span>
                                    <span style="max-width: 50%;word-wrap: break-word;" >{{note ? note  : '-----------------'}}</span>
                                  </li>
                                </ul>
                                <hr>
                                <ul>
<!--                                    <li class="d-flex align-items-center justify-content-between">-->
<!--&lt;!&ndash;                                        <span class="secondary-color"><b>Total</b></span>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <span class="secondary-color"><b>$220</b></span>&ndash;&gt;-->
<!--                                    </li>-->
                                    <li class="d-flex align-items-center justify-content-between">
                                        <button type="submit" class="sigma_btn btn-block btn-sm mt-4" [disabled]="!appointmentForm.valid" (click)="submit()">
                                            Gửi yêu cầu
                                            <i class="fal fa-arrow-right ml-3"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
      <div *ngIf="success === 2" style="display: flex;    align-items: center;
    flex-direction: column;">

        <i style="    font-size: 100px;color:#3595cf" class="far fa-paper-plane"></i>
        <span style="font-weight:600; font-size: 24px">Yêu cầu của bạn đã được gửi đi</span>
        <span style="font-size: 20px;color: red;">Vui lòng kiểm tra SMS hoặc Email để xác nhận!</span>
      </div>
      <div *ngIf="bookingOk && success !== 1 && success !== 2" style="display: flex;    align-items: center;
    flex-direction: column;">
        <i style="font-size: 100px;color:#35cf53" class="fas fa-check-circle"></i>
        <span style="font-weight:600; font-size: 24px">Đặt lịch thành công</span>
        <span style="font-size: 20px;color: red;">Cảm ơn bạn đã đặt lịch khám !</span>
      </div>
    </div>
</div>
