<div class="sidebar mb-5">
    <!-- Category Widget -->
    <div class="widget widget-categories">
        <h5 class="widget-title">Lọc theo</h5>
        <ul>
            <!-- Data -->
            <li *ngFor="let item of category">
                <a routerLink="/doctor/cat/{{item.id}}">
                    {{item.title}}
                </a>
            </li>
            <!-- Data -->
        </ul>
    </div>
    <div class="widget">
        <h5 class="widget-title">Đặt lịch</h5>
        <input type="checkbox" name="free" id="availabilityDoctors">
        <label for="availabilityDoctors">Miễn phí</label>
        <input type="checkbox" name="unavailable" id="unavailableDoctors">
        <label class="mb-0" for="unavailableDoctors">Mất phí</label>
    </div>

    <div class="widget">
        <h5 class="widget-title">Years of Experience</h5>
        <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options">
        </ngx-slider>
    </div>
</div>
