<div class="section">
    <div class="container">
        <div class="row justify-content-end position-relative">
            <div class="sigma_contact-image style-6 d-none d-lg-block">
                <img src="assets/img/home-2/480x590.jpg" alt="img">
            </div>
            <div class="col-lg-8">
                <div class="sigma_form style-6">
                    <div class="section-title">
                        <h3 class="title mb-1 text-white">Liên hệ với chúng tôi</h3>
                        <p class="text-white">
                          Chúng tôi sẽ được hạnh phúc để hỗ trợ bạn</p>
                    </div>
                    <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
                        <div class="form-group">
                            <i class="fal fa-user"></i>
                            <input type="text" placeholder="Họ và tên" name="name" [(ngModel)]="model.name" required>
                        </div>
                        <div class="form-group">
                            <i class="fal fa-envelope"></i>
                            <input type="email" placeholder="Email" name="email" [(ngModel)]="model.email" required>
                        </div>
                        <div class="form-group">
                            <textarea rows="5" placeholder="Ghi chú" name="message" [(ngModel)]="model.message"
                                required></textarea>
                        </div>
                        <!-- <re-captcha (resolved)="resolved($event)" name="recaptcha" [(ngModel)]="model.recaptcha"
                            siteKey="6LdxUhMaAAAAAIrQt-_6Gz7F_58S4FlPWaxOh5ib" size="invisible"></re-captcha> -->
                        <button type="submit" class="btn-block secondary"
                            [disabled]="!contactForm.form.valid">Gửi</button>
                        <!-- Form Messages -->
                        <div class="service-error mt-4 w-100" *ngIf="error">
                            <ngb-alert type="danger" class="mb-0 w-100" [dismissible]="false">
                                <strong>Oops!</strong> Something bad happened. Please try again later.
                            </ngb-alert>
                        </div>
                        <div [hidden]="!submitted" class="contact-message w-100">
                            <div *ngIf="model.id" class="contact-success w-100 mt-4">
                                <ngb-alert type="success" class="mb-0 w-100" [dismissible]="false">
                                    <strong>Success!</strong> Contact form has been successfully submitted.
                                </ngb-alert>
                            </div>
                        </div>
                        <!-- Form Messages -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
