<app-header-two></app-header-two>
<app-banner></app-banner>
<div class="section section-padding bg-cover bg-center bg-secondary-1"
    [style.background-image]="'url(assets/img/pattern-3.png)'">
    <app-services></app-services>
    <app-counter></app-counter>
</div>
<app-why-us></app-why-us>
<app-team></app-team>
<div class="section section-padding bg-cover bg-center bg-secondary-1"
    [style.background-image]="'url(assets/img/pattern-4.png)'">
    <app-services-two></app-services-two>
    <div class="section section-padding p-0 margin-negative">
        <app-gallery-slider></app-gallery-slider>
    </div>
</div>
<div class="section section-padding bg-gray"></div>
<div class="section section-padding bg-gray">
    <app-testimonials></app-testimonials>
    <app-cta></app-cta>
</div>
<div class="section section-padding"></div>
<app-quote></app-quote>
<app-blogs></app-blogs>
<app-footer></app-footer>