<div class="section p-0 margin-negative sm">
    <div class="container">
        <div class="sigma_cta style-9 bg-cover bg-center bg-secondary-1 shadow-none" [style.background-image]="'url(assets/img/section-tr.png)'">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="sigma_cta-content">
                        <h3 class="mb-0 text-white">Get notified about the event! Subscribe Today</h3>
                    </div>
                </div>
                <div class="col-lg-7 mt-lg-0 mt-3">
                    <form>
                        <div class="input-group">
                            <input type="email" name="email" placeholder="Email Address" required>
                            <div class="input-group-append">
                                <button type="button" class="light">
                                    <i class="fal fa-envelope mr-2"></i>
                                    Subscribe
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>