<app-header-two></app-header-two>
<app-breadcrumbs></app-breadcrumbs>
<app-work-process></app-work-process>
<div class="section bg-secondary-1" [style.background-image]="'url(assets/img/pattern.png)'">
    <div class="container">
        <app-why-us></app-why-us>
        <app-counter></app-counter>
    </div>
</div>
<div class="section pb-0 bg-gray"></div>
<app-team></app-team>
<div class="section section-padding p-0">
    <div class="container-fluid p-0">
        <app-gallery-slider></app-gallery-slider>
    </div>
</div>
<app-footer></app-footer>