<div class="sidebar-style-8">
    <div class="section pb-0 sigma_post-details style-6" *ngFor="let item of blogdetails">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="sigma_post-details-inner">
                        <div class="entry-content">
                            <a href="{{item.image[0]}}" class="gallery-thumb w-100">
                                <img [src]="item.image[0]" [alt]="item.title" class="w-100">
                            </a>
                            <div class="sigma_post-details-meta">
                                <span *ngFor="let author of getAuthor(item.author)"> <i class="far fa-user"></i> By
                                    {{author.name}}</span>
                                <span> <i class="far fa-calendar-alt"></i> {{item.postdate}}</span>
                            </div>
                            <h2 class="entry-title">{{item.title}}</h2>
                            <div [innerHtml]="item.htmltext"></div>
                        </div>
                        <hr>
                        <!-- Post Meta Start -->
                        <div class="sigma_post-details-meta">
                            <div class="sigma_post-details-meta-item sigma_post-share">
                                <h5 class="mb-0">Share:</h5>
                                <ul class="sigma_sm ml-4">
                                    <!-- Data -->
                                    <li *ngFor="let social of socialShare(item.title)">
                                        <a href="javascript:void(0)" (click)="openSocialPopup(social)">
                                            <i [class]="social.iconClass"></i>
                                        </a>
                                    </li>
                                    <!-- Data -->
                                </ul>
                            </div>
                        </div>
                        <!-- Post Meta End -->
                        <!-- Comments Start -->

                        <!-- Comments End -->
                    </div>
                </div>
                <!-- Sidebar Start -->
                <div class="col-lg-4">
                    <app-blog-sidebar></app-blog-sidebar>
                </div>
                <!-- Sidebar End -->
            </div>
        </div>
    </div>
</div>
