<div class="sigma_banner light-bg style-10 bg-cover">
    <img src="assets/img/tr.png" class="tr" alt="img">
    <img src="assets/img/br.png" class="br" alt="img">
    <img src="assets/img/bl.png" class="bl" alt="img">
    <div class="banner-slider-inner">
        <div class="sigma_banner-text">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <h5 class="primary-color">Khám và chữa bệnh</h5>
                        <h1 class="title">
                          Đặt lịch khám ngay
                        </h1>
                        <div class="banner-links d-flex align-items-center">
                            <a routerLink="/about" class="sigma_btn">Đặt lịch khám</a>
<!--                            <a routerLink="/contact" class="sigma_btn light ml-4">Liên hệ tư vấn</a>-->
                        </div>
                    </div>
                    <div class="col-lg-6 d-none d-lg-block">
                        <div class="sigma_banner-image mt-5 mt-lg-0">
                            <img src="assets/img/home-2/540x540.jpg" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
