<div class="section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="sigma_info style-24">
                    <div class="sigma_info-title">
                        <span class="sigma_info-icon bg-primary-1 text-white">
                            <i class="flaticon-hospital"></i>
                        </span>
                    </div>
                    <div class="sigma_info-description">
                        <h5>Our Address</h5>
                        <p>PSD Building, 2 Tower St, United States.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="sigma_info style-24">
                    <div class="sigma_info-title">
                        <span class="sigma_info-icon bg-primary-1 text-white">
                            <i class="flaticon-call"></i>
                        </span>
                    </div>
                    <div class="sigma_info-description">
                        <h5>Our Phone</h5>
                        <p>Telephone: 0029129102320</p>
                        <p>Mobile: 000 2324 39493</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="sigma_info style-24">
                    <div class="sigma_info-title">
                        <span class="sigma_info-icon bg-primary-1 text-white">
                            <i class="flaticon-envelope"></i>
                        </span>
                    </div>
                    <div class="sigma_info-description">
                        <h5>Our Email</h5>
                        <p>Main Email: example@example.com</p>
                        <p>Inquiries: example@example.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>