.chat{
    position: fixed;
    right: 10px;
    bottom: 0px;
    z-index: 9999;

}


.chat-btn {
    position: absolute;
    right: 14px;
    bottom: 30px;
    cursor: pointer
}

.chat-btn .close {
    display: none
}

.chat-btn i {
    transition: all 0.9s ease
}

#check:checked~.chat-btn i {
    display: block;
    pointer-events: auto;
    transform: rotate(180deg)
}

#check:checked~.chat-btn .comment {
    display: none
}

.chat-btn i {
    font-size: 22px;
    color: #fff !important
}

.chat-btn {
    width: 160px;
  
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #007bff;
    color: #fff;
    font-size: 22px;
    border: none
}

.wrapper {
    position: absolute;
    right: 20px;
    bottom: 100px;
    width: 400px;
    height: 600px;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.4s
}

#check:checked~.wrapper {
    opacity: 1
}

.header {
    padding: 13px;
    background-color: #007bff;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
    color: #fff
}

.chat-form {
    padding: 15px
}

.chat-form input,
textarea,


.chat-form textarea {
    resize: none
}

.form-control:focus,
.btn:focus {
    box-shadow: none
}

.btn,
.btn:focus,
.btn:hover {
    background-color: blue;
    border: blue
}

#check {
    display: none !important
}


.chatbot-content {
  position: relative;
  padding: 10px;
  height: calc(100% - 190px);
  margin-bottom: 10px;
  overflow-y: scroll;

  .content-chat {
      padding: 2px 10px;
      border: 1px solid;
      border-radius: 10px;
      width: fit-content;
      margin-bottom: 10px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .userChat {
      display: flex;
      justify-content: flex-end;

      .content-chat {
          background: antiquewhite;
      }
  }

  .botChat {
      .content-chat {
        border: none !important;
          background: #d1eef4;
      }
  }

}
@-webkit-keyframes my {
    0% { color: #F8CD0A; } 
    50% { color: #fff;  } 
    100% { color: #F8CD0A;  } 
}
@-moz-keyframes my { 
    0% { color: #F8CD0A;  } 
    50% { color: #fff;  }
    100% { color: #F8CD0A;  } 
}
@-o-keyframes my { 
    0% { color: #F8CD0A; } 
    50% { color: #fff; } 
    100% { color: #F8CD0A;  } 
}
@keyframes my { 
    0% { color: #F8CD0A;  } 
    50% { color: #fff;  }
    100% { color: #F8CD0A;  } 
} 
.test {
 
    -webkit-animation: my 700ms infinite;
    -moz-animation: my 700ms infinite; 
    -o-animation: my 700ms infinite; 
    animation: my 700ms infinite;
}